<div>
  <h1>hello world</h1>
</div>
<script type="text/javascript">
  fetch('http://localhost:3000/render?url=http://localhost:3000/https://infallible-hamilton-2296f5.netlify.app/2020/07/26/scan1/')
</script>
